body{
    background: url(imagem/background.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
}

#board{
    width: 450px;
    height: 450px;
    opacity: 90%;
    background-color: rgb(226, 151, 157);
    border: 5px solid rgb(197, 77, 77);
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#board img{
    width: 50px;
    height: 50px;
}

.button{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px
}

.transparent{
    background-color: transparent;
    color: black;
}


.confirm{
    background-color: rgb(157, 235, 187);
}

.editar{
    background-color: rgba(240, 42, 157, 0.548);
    color: aliceblue;
}

.excluir{
    background-color: rgb(199, 101, 101);
    color: aliceblue;
}

.play{
    background-color: rgba(40, 163, 51, 0.795);
    color: aliceblue;
}

.pause{
    background-color: rgb(211, 81, 81);
}

.btn-center{
    text-align: center;
}

.caracther{
    display: flex;
    flex-direction: row-reverse;
}